{% extends "main/base.html" %}
{% load static %}
{% block css_styles %} 
    <link rel="stylesheet" href="{% static "main/election_analysis.css" %}">
{% endblock %}

{% block content %}

<div class="header-container">
  <div id ="main-nav">
    <h1><a href="{% url "home"%}" style="text-decoration:none;">Know Your Poll</a></h1>
  </div>
  <div class="h2h"> 
    <h1><a href="{% url "home" %}" style="text-decoration:none;">Poll Tracker</a></h1>
  </div>
  <div class="model">
    <h1><a href="{% url "analysis" %}" style="text-decoration:none;">Election Prediction</a></h1>
  </div>
  
  <!-- <div class="threewayrace">
    <h1><a href="{%url "threeway" %}" class="button">With Kennedy</a></h1>
  </div> -->
</div>

<div class="prob-and-prediction">
  <div class="prob">
    <h3>Harris wins {{probability}}% of the time</h3>
  </div>
  <div class="pred">
    <h3>
      Predicted winner based on past national popular vote: {{winner}}
    </h3>
  </div>
</div>

    

{% endblock %}