{% extends "main/base.html" %}
{% load static %}

{% block title %} Know Your Poll {% endblock %}
{% block css_styles %}
  <link rel="stylesheet" href="{% static "main/homepage.css" %}">
{% endblock %}
{% block content %}
<div class="container">
  <div id ="main-nav">
    <h1><a href="{% url "home"%}" style="text-decoration:none;">Know Your Poll</a></h1>
  </div>
  <div class="h2h"> 
    <h1>Harris v Trump</h1>
  </div>
  
  <div class="threewayrace">
    <h1><a href="{%url "threeway" %}" class="button">With Kennedy</a></h1>
  </div>

</div>

<div id="chart-container"></div>

<table>
    <thead>
        <tr>
            <th>Pollster</th>
            <th>Date Published</th>
            <th>Harris Support</th>
            <th>Trump Support</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        {% for poll in polls %}
        <tr>
            <td>{{ poll.pollster.name_of_pollster }}</td>
            <td>{{ poll.date_published }}</td>
            <td>{{ poll.harris_support }}</td>
            <td>{{ poll.trump_support }}</td>
            <td 
                {% if poll.harris_support > poll.trump_support %}
                    style="background-color: lightblue;"
                {% elif poll.harris_support < poll.trump_support %}
                    style="background-color: lightcoral;"
                {% endif %}
            >
                {% if poll.harris_support > poll.trump_support %}
                    Harris +{{ poll.margin }}
                {% elif poll.harris_support < poll.trump_support %}
                    Trump +{{ poll.margin }}
                {% else %}
                    EVEN
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static "main/homepage.js" %}"></script>


{% endblock %}





<!-- /*<td>
  {% if poll.harris_support > poll.trump_support %}
    <p>Harris +{{poll.margin}}</p>
    style="background-color:lightblue;"
  {% elif poll.harris_support < poll.trump_support % }
    <p>Trump + {{poll.margin}}</p>
    style="background-color:lightred;"
  {% else %}
    <p> EVEN </p>
  {% endif %}

</td> -->

<!-- <h2>Harris v Trump (2-way)</h2>
  <ul>
    {% for poll in polls %}
      <li>
        Harris: {{poll.harris_support}}  Trump: {{poll.trump_support}}   Pollster: {{poll.pollster}}  Date: {{poll.date_published}}
      </li>
      {% endfor %}
  </ul> -->