{% extends "main/base.html" %}
{% load static %}

{% block title %} Know Your Poll {% endblock %}

{% block css_styles %}
  <link rel="stylesheet" href="{% static "main/homepage.css" %}">
{% endblock %}

{% block content %}
<header id ="main-nav">
  <h1><a href="{% url "home"%}">Know Your Poll</a></h1>
</header>

<h2>Harris v Trump v RFK</h2>

<h2>Poll List</h2>

<table>
    <thead>
        <tr>
            <th>Pollster</th>
            <th>Pollster info</th>
            <th>Date Published</th>
            <th>Harris Support</th>
            <th>Trump Support</th>
            <th>RFK</th>
        </tr>
    </thead>
    <tbody>
        {% for poll in polls %}
        <tr>
            <td><a href={{poll.link_to_poll}} style="text-decoration:none">{{ poll.pollster.name_of_pollster }}</a></td>
            <td>{{poll.pollster.info}}</td>
            <td>{{ poll.date_published }}</td>
            <td>{{ poll.harris_support }}</td>
            <td>{{ poll.trump_support }}</td>
            <td>{{ poll.third_party_support }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}

