{% extends "main/base.html" %}
{% load static %}

{% block title %} Know Your Poll {% endblock %}
{% block css_styles %}
  <link rel="stylesheet" href="{% static "main/homepage.css" %}">
{% endblock %}
{% block content %}
<div class="container">
  <header id ="main-nav">
    <h1><a href="{% url "home"%}" style="text-decoration:none;">Know Your Poll</a></h1>
  </header>
  <div class="h2h"> 
    <h1>Harris v Trump</h1>
  </div>
  
  <div class="threewayrace">
    <a href="{%url "threeway" %}" class="button">With Kennedy</a>
  </div>

</div>

<table>
    <thead>
        <tr>
            <th>Pollster</th>
            <th>Date Published</th>
            <th>Harris Support</th>
            <th>Trump Support</th>
        </tr>
    </thead>
    <tbody>
        {% for poll in polls %}
        <tr>
            <td>{{ poll.pollster.name_of_pollster }}</td>
            <td>{{ poll.date_published }}</td>
            <td>{{ poll.harris_support }}</td>
            <td>{{ poll.trump_support }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<!-- <h2>Harris v Trump (2-way)</h2>
  <ul>
    {% for poll in polls %}
      <li>
        Harris: {{poll.harris_support}}  Trump: {{poll.trump_support}}   Pollster: {{poll.pollster}}  Date: {{poll.date_published}}
      </li>
      {% endfor %}
  </ul> -->
  



{% endblock %}